*{
    margin: 0;
    padding: 0;
}
.container{
    background-color: rgb(38, 34, 34);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 20px;
}
.clock{
    background-color: rgb(43, 38, 38);
    width: 300px;
    height: 300px;
    border: 2px solid rgb(42, 38, 38);
    border-radius: 50%;
    box-shadow: 0px 0px 20px rgb(0, 0, 0);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hrs{
    position: absolute;
    transform: rotate(calc(30deg*var(--num)));
    inset: 10px;/*this is shorthand property that combines position properties top,bottom,left,right */
    /*inset : 10px ----> 10px from top,bottom ,right,left*/
    text-align: center;
}
.hrs b{
    transform: rotate(calc(-30deg*var(--num)));
    display: inline-block;/*as span and b tag are inline tags which don't respect transformation(like rotate,scale,etc.) on other hand block or inline-block elements respect transformation*/
    /*thus when we apply transform to inline elements CSS ignores that*/
}
.clock .center{
    position:absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: black;
}
.hands{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.hands i{
    position:absolute;
    display: inline-block;
    background-color: var(--clr);
    height: var(--h);
    width: 10px;
}
